<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="ResourceSharingCommonTestSuite" verbose="1">
	<test name="services">
		<packages>
			<package name="info.ferrarimarco.uniroma2.msa.resourcesharing.services.*" />
		</packages>
	</test>
	<test name="ioServletTest">
		<packages>
			<package name="info.ferrarimarco.uniroma2.msa.resourcesharing.services.*" />
		</packages>
		<classes>
			<class name="info.ferrarimarco.uniroma2.msa.resourcesharing.controllers.io.ClientIOControllerTest" />
		</classes>
	</test>
	<test name="ModelTests">
		<packages>
			<package name="info.ferrarimarco.uniroma2.msa.resourcesharing.model.*" />
		</packages>
	</test>
</suite>