<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="ResourceSharingCommonTestSuite" verbose="1">
	<test name="ioServletTest">
		<classes>
			<class name="info.ferrarimarco.uniroma2.msa.resourcesharing.controllers.io.ClientIOControllerTest" />
		</classes>
	</test>
</suite>