<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<logger name="org.fao" additivity="false">
		<appender-ref ref="STDOUT" />
		<level value="TRACE" />
	</logger>

	<logger name="org.hibernate.type" level="WARN" />
	<logger name="org.hibernate.SQL" level="WARN" />
	<logger name="org.hibernate" level="WARN" />
	<logger name="jdbc" additivity="false" value="WARN" />
	<logger name="org.springframework" level="WARN" />
	<logger name="org.thymeleaf" level="WARN" />
	
	<root>
		<level value="WARN" />
		<appender-ref ref="STDOUT" />
	</root>


</configuration>

