<component name="libraryTable">
  <library name="spring-data-mongodb-1.3.4.RELEASE">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/modules-2/files-2.1/org.springframework.data/spring-data-mongodb/1.3.4.RELEASE/78193ecfa75749d30cce9eaee854d6a8d941d753/spring-data-mongodb-1.3.4.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/modules-2/files-2.1/org.springframework.data/spring-data-mongodb/1.3.4.RELEASE/8101c2720be7b91b201a83c6a56e8024447e3769/spring-data-mongodb-1.3.4.RELEASE-sources.jar!/" />
    </SOURCES>
  </library>
</component>