<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/allEntitiesLayout.html">
<head>
<title th:text="#{class.title}">[Class Management]</title>
</head>
<body>
	<div layout:fragment="entitiesTable">
		<table>
			<thead>
				<tr>
					<th>[Select item checkbox]</th>
					<th>ID</th>
					<th>Name</th>
					<th>Is Leaf</th>
					<th>No. of descendants</th>
					<th>Superclass</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="entity : ${allEntitiesPage.content}">
					<td><input type="checkbox" name="selected" value="0" /></td>
					<td><a href="#" th:href="@{|/${entityName}/${entity.id}|}" th:text="${entity.id}">[Class ID]</a></td>
					<td><span th:text="${entity.name}">[Name]</span></td>
					<td th:text="${entity.isLeaf}">[true of false]</td>
					<td><span th:href="@{|/${entityName}/${entity.id}/subtypes|}" th:text="${entity.subTypesCount}">[No. of Descendants]</span></td>
					<td><a href="#" th:href="@{|/${entityName}/${entity.superTypeId}|}" th:text="${entity.superTypeName}">[Superclass name]</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>


