<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top"
		th:fragment="header">
		<div class="container">
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="#" th:href="@{/}" th:text="#{header.menu.home}">[Home]</a></li>
					<li><a href="#" th:href="@{/stats}" th:text="#{header.menu.stats}">[Statistics]</a></li>
					<li><a href="#" th:href="@{/products}" th:text="#{header.menu.products}">[Product Management]</a></li>
					<li><a href="#" th:href="@{/menu}" th:text="#{header.menu.menu}">[Menu Management]</a></li>
					<li><a href="#" th:href="@{/users}" th:text="#{header.menu.users}">[User Management]</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li th:if="${#authorization.expression('!isAuthenticated()')}">
						<a href="#" th:href="@{/login.html}">Sign in</a>
					</li>
					<li th:if="${#authorization.expression('isAuthenticated()')}">
						<a href="#" th:href="@{/logout}">Logout</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>