<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{base.title}+#{login.title}">[Login]</title>
</head>
<body>
	<div th:include="header.html :: header">[HEADER]</div>
	<div>
		<form name="login_form" th:action="@{/login.html}" method="post">
			<fieldset>
				<legend th:text="#{login.form.legend}">[Login Legend]</legend>
				<p th:if="${loginError}" th:text="#{login.error.credentials}">[Error bad credentials]</p>
				<label for="username" th:text="#{base.username}">[Username]</label> <input type="text" id="username" name="username" />
				<label for="password" th:text="#{base.password}">[Password]</label> <input type="password" id="password" name="password" />
				<div class="form-actions">
					<button type="submit" class="btn" th:text="#{login.form.signin}">[Sign in button]</button>
				</div>
			</fieldset>
		</form>
	</div>
</body>
</html>
