<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/allEntitiesLayout.html">
<head>
<title th:text="#{instance.title}">[Instance Management]</title>
</head>
<body>
	<div layout:fragment="entitiesTable">
		<table>
			<thead>
				<tr>
					<th>[Select item checkbox]</th>
					<th>ID</th>
					<th>Name</th>
					<th>Category</th>
					<th>Class</th>
					<th>Brand</th>
					<th>Barcode</th>
					<th>Count</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="product : ${allEntitiesPage.content}">
					<td><input type="checkbox" name="selected" value="0" /></td>
					<td><a href="#" th:href="@{|/${entityName}/${product.id}|}" th:text="${product.id}">[Product ID]</a></td>
					<td><span th:text="${product.name}">[Name]</span></td>
					<td th:text="${product.clazz.category}">[Category]</td>
					<td th:text="${product.clazz}">[Class]</td>
					<td th:text="${product.brand}">[Brand]</td>
					<td th:text="${product.barcode}">[Barcode]</td>
					<td th:text="${product.instanceCount}">[Count]</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>


