<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/allEntitiesLayout.html">
<head>
<title th:text="#{instance.title}">[Instance Management]</title>
</head>
<body>
	<div layout:fragment="entitiesTable">
		<table>
			<thead>
				<tr>
					<th th:text="#{instance.id}">[ID]</th>
					<th th:text="#{instance.name}">[Name]</th>
					<th th:text="#{instance.category}">[Category]</th>
					<th th:text="#{instance.class}">[Class]</th>
					<th th:text="#{instance.brand}">[Brand]</th>
					<th th:text="#{instance.barcode}">[Barcode]</th>
					<th th:text="#{instance.count}">[Count]</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="product : ${allEntitiesPage.content}">
					<td>
						<a href="#" data-toggle="modal" data-target="#editEntityModal" th:attr="data-entity-name=${entityName},data-entity-id=${product.id}"
						data-entity-name="${entityName}"
						data-entity-id="${product.id}"
						data-entity-instance-name="${product.name}"
						data-entity-clazz="${product.clazz.name}"
						data-entity-barcode="${product.barCode}"
						data-entity-brand="${product.brand}"
						data-entity-amount="${product.amount}"
						th:text="${product.symbolicId}">[ID]</a>
					</td>
					<td th:text="${product.name}">[Name]</td>
					<td th:text="${product.clazz.category.name}">[Category]</td>
					<td th:text="${product.clazz.name}">[Class]</td>
					<td th:text="${product.brand}">[Brand]</td>
					<td th:text="${product.barCode}">[Barcode]</td>
					<td th:text="${product.amount}">[Count]</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>


