<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/baseLayout.html">
<head>
<title th:text="#{instance.title}">[Stats]</title>
</head>
<body>
	<div class="container">
		<div layout:fragment="content">
			<form class="form-vertical" method="post" action="#" th:action="@{/stats}" th:object="${statsDto}" id="productStatsForm">
				<fieldset>
					<legend th:text="#{stats.legend}">[Stats]</legend>
					<div class="form-group">
						<label class="control-label" for="productCategory" th:text="#{instance.category}">[Category]</label>
						<select class="form-control" id="productCategory" th:field="*{categoryId}">
							<option th:each="category : ${allCategories}" th:value="${category.id}" th:text="${category.name}">[Category]</option>
						</select>
					</div>
					<div class="form-group">
						<label class="control-label" for="productClass" th:text="#{instance.class}">[Class]</label>
						<select class="form-control" id="productClass" th:field="*{clazzId}">
							<option th:each="clazz : ${allClasses}" th:value="${clazz.id}" th:text="${clazz.name}">[Class]</option>
						</select>
					</div>
					<div class="form-group">
						<label class="control-label" for="product" th:text="#{stats.product}">[Product]</label>
						<select class="form-control" id="product" th:field="*{productId}">
							<option th:each="product : ${allProducts}" th:value="${product.id}" th:text="${product.name}">[Product]</option>
						</select>
					</div>
					<div class="form-group" id="indexTypeField">
						<label class="control-label" for="indexTypeField" th:text="#{stats.indexType}">[Index type]</label>
						<ul>
							<li class="radio">
								<input type="radio" id="indexTypeRadioSuccess" th:field="*{indexType}" th:value="${SUCCESS}" />
								<label for="indexTypeRadioSuccess" th:text="#{stats.successIndex}">[Success]</label>
							</li>
							<li class="radio">
								<input type="radio" id="indexTypeRadioLiking" th:field="*{indexType}" th:value="${LIKING}" />
								<label for="indexTypeRadioLiking" th:text="#{stats.likingIndex}">[Liking]</label>
							</li>
							<li class="radio">
								<input type="radio" id="indexTypeRadioPerishability" th:field="*{indexType}" th:value="${PERISHABILITY}" />
								<label for="indexTypeRadioPerishability" th:text="#{stats.perishabilityIndex}">[Perishability]</label>
							</li>
						</ul>
					</div>
					<input type="hidden" id="categoryName" th:field="*{categoryName}" th:value="${category.name}" />
					<input type="hidden" id="categoryName" th:field="*{categoryName}" th:value="${clazz.name}" />
					<input type="hidden" id="categoryName" th:field="*{categoryName}" th:value="${product.name}" />
				</fieldset>
				<button type="submit" id="statsFormSubmit" form="productStatsForm" class="btn btn-primary" th:text="#{base.load}">[Load]</button>
			</form>
			<div class="table-responsive" th:if="${statsDto.value} != null">
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th th:text="#{instance.id}">[ID]</th>
							<th th:text="#{instance.name}">[Name]</th>
							<th th:text="#{stats.tableHeaderValue}">[Stat]</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td th:text="${statsDto.symbolicId}">[ID]</td>
							<td id="statEntityName" th:text="${statsDto.entityName}">[Name]</td>
							<td th:text="${statsDto.value}">[Stat]</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>
