<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>[Edit Instances Modal]</title>
</head>
<body>
	<div th:fragment="editInstancesModal">
		<div class="modal fade" id="editInstancesModal" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title" id="editInstancesModalLabel" th:text="#{instance.modalTitle}">[Modal Title]</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" method="post" action="#" th:action="@{/entities/productInstance}" th:object="${instanceDto}" id="editInstanceForm">
							<fieldset>
								<div class="form-group" id="operationField">
									<label class="control-label" for="operationField" th:text="#{instance.operation}">[Operation]</label>
									<ul>
										<li class="radio">
											<input type="radio" id="operationRadioAdd" th:field="*{operation}" value="ADD_INSTANCES" />
											<label for="operationRadioAdd" th:text="#{instance.addInstances}">[Add instances]</label>
										</li>
										<li class="radio">
											<input type="radio" id="operationRadioRemove" th:field="*{operation}" value="REMOVE_INSTANCES" />
											<label for="operationRadioRemove" th:text="#{instance.removeInstances}">[Remove instances]</label>
										</li>
										<li class="radio">
											<input type="radio" id="operationRadioAddDefected" th:field="*{operation}" value="ADD_DEFECTED_INSTANCES" />
											<label for="operationRadioAddDefected" th:text="#{instance.addDefectedInstances}">[Add defected instances]</label>
										</li>
									</ul>
								</div>
								<div class="form-group" id="productAmountField">
									<label class="control-label" for="productAmount" th:text="#{instance.amount}">[Amount]</label>
									<input type="number" class="form-control" id="productAmount" placeholder="Amount" min="1" th:field="*{newAmount}" />
								</div>
								<div class="form-group" id="productExpirationDateField">
									<label class="control-label" for="expirationDatePicker" th:text="#{instance.expirationDate}">[Expiration Date]</label>
									<div class="input-group date" id="expirationDatePicker">
										<input type="text" class="form-control" th:field="*{expirationDate}"/>
										<span class="input-group-addon">
											<span class="glyphicon glyphicon-calendar"></span>
										</span>
									</div>
								</div>
								<div>
									<input type="hidden" id="productId" th:field="*{productId}" />
								</div>
							</fieldset>
						</form>
					</div>
					<div class="modal-footer">
						<button type="submit" form="editInstanceForm" class="btn btn-primary" th:text="#{base.save}" name="save">[Save]</button>
						<button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{base.cancel}">[Cancel]</button>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
</html>
