<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top"	th:fragment="header">
		<div class="container">
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="#" th:href="@{/}" th:text="#{header.menu.home}">[Home]</a></li>
					<li><a href="#" th:href="@{/stats}"
						th:text="#{header.menu.stats}">[Statistics]</a></li>
					<li><a href="#" th:href="@{/entities/class}"
						th:text="#{header.menu.class}">[Class Management]</a></li>
					<li><a href="#" th:href="@{/entities/instance}"
						th:text="#{header.menu.instance}">[Instance Management]</a></li>
					<li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
						<a href="#" th:href="@{/users}" th:text="#{header.menu.users}">[User Management]</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li th:if="${#authorization.expression('!isAuthenticated()')}">
						<a href="#" th:href="@{/login.html}">Sign in</a>
					</li>
					<li th:if="${#authorization.expression('isAuthenticated()')}">
						<form name="login_form" th:action="@{/logout.html}" method="post">
							<fieldset>
								<div class="form-actions">
									<button type="submit" class="btn">Sign out</button>
								</div>
							</fieldset>
						</form>
					</li>
				</ul>
			</div>

		</div>
	</div>
</body>
</html>