<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/baseLayout.html">
<head>
<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE" th:text="#{base.title}">[All entities page]</title>
</head>
<body>
	<div class="container">
		<div layout:fragment="content">
			<h2 th:text="#{instance.tabletitle}">[Table Title]</h2>
			<div th:replace="fragments/createNewEntityModal.html :: createNewEntityModal">[Create new entity modal]</div>
			<div th:replace="fragments/deleteSelectedEntitiesModal.html :: deleteSelectedEntitiesModal">[Delete entities modal]</div>
			<a href="#" class="btn btn-lg btn-success" data-toggle="modal" data-target="#createNewEntityModal" th:text="#{base.create}">[Create]</a>
			<a href="#" class="btn btn-lg btn-success" data-toggle="modal" data-target="#deleteSelectedEntitiesModal" th:text="#{base.deleteselected}">[Delete Selected]</a>
			<div layout:fragment="entitiesTable">[Entities Table]</div>
			<div th:replace="fragments/allEntitiesPagingFooter.html :: pagingFooter(|/entities/${entityName}|,
			${allEntitiesPage.number}, ${allEntitiesPage.size})">[Paging footer]</div>
		</div>
	</div>
</body>
</html>
